<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MagicConch"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".MainPage"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity android:name=".clothpage.MainCloth" />
        <activity android:name=".clothpage.seasonpage.SpringautumCloth" />
        <activity android:name=".clothpage.seasonpage.RekAddPage" />
        <activity android:name=".clothpage.seasonpage.SummerCloth" />
        <activity android:name=".clothpage.seasonpage.WinterCloth" />
        <activity android:name=".clothpage.seasonpage.clothaddpage.closet.closet1"/>
        <activity android:name=".clothpage.seasonpage.clothaddpage.closet.closet2"/>
        <activity android:name=".clothpage.seasonpage.clothaddpage.closet.closet3"/>
        <activity android:name=".clothpage.seasonpage.clothaddpage.SpringautumAdd"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".clothpage.seasonpage.clothaddpage.SummerAdd" />
        <activity android:name=".clothpage.seasonpage.clothaddpage.WinterAdd" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>